/* --- Section Fonts --- */
@font-face {
	font-family: "HACKED";
	src: url('../fonts/terminal.ttf');
}

/* --- Section Général --- */
html, body {
	height: 100%;
	width: 100%;
	margin: 0%;
	padding: 0%;
	background: black;
}

/* --- Définition de la grille css :https://developer.mozilla.org/fr/docs/Web/CSS/CSS_Grid_Layout; ---*/
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  width: 100%;
  height: 100%;
}

/* --- Section Terminal --- */
.recherche {
	grid-column: 1;
	grid-row: 1;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
	background-image: linear-gradient(rgba(0, 255, 255, 0.1), rgba(0, 255, 255, 0.1)), url("../images/asp.jpeg");
	color: rgba(0, 255, 255, 1);
	font-family: "HACKED", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.recherche > label {
	width: 35%;
	display: inline-block;
}

.recherche >  input {
	width: 55%;
	display: inline-block;
	font-family: "HACKED", Helvetica, Arial, sans-serif;
	background: 0%;
	font-size: 18px;
	font-weight: bold;
	border: 0px;
	color: rgba(0, 255, 255, 1);
}

.recherche >  input:focus {	
	outline:  none;
}

/* --- Section Fiche --- */
.fiche {
  grid-column: 2;
  grid-row: 1;
  width: 100%;
}

.fiche > h1 {
	height: 10%;
	color: white;
	text-align: center;
	color: rgba(0, 255, 255, 1);
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
.fiche > #table > table {
	display: table;
	width: 100%;
	height: 100%;
	color: white;
	border: 1px white solid;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

td {
	text-transform: uppercase;
	padding-left: 3%;
}

#id_fiche {
	color: rgba(0, 255, 255, 1);
	font-size: 27px;
	font-weight: bold;
	font-family: "HACKED", Helvetica, Arial, sans-serif;	
}

#table {
	width: 48%;
	height: 89%;
	display: inline-block;
}

img {
	margin-left: 10%;
}

#psycho_fiche {
	height: 50px !important;
}
